{% extends "base.html" %}

{% block content %}
    <h2>What is 'Creative Deluge'?</h2>
    <p>
        This whole project started out as a crazy idea I had several years ago. While I've dabbled in writing on and off
        for years, most of it has been short stories and novels, rather than contemporary pieces. Not that I hadn't had
        a few close encounters with a blog before; mostly, though, they didn't work the way I wanted, or didn't give me
        the kind of podium I needed for the scope of some of the ideas I'd had. At the same time, I was growing
        exponentially as a web developer, so I decided to do the single most masochistic thing a human being can do:
    </p>
    <p>
        <em>I decided to write software.</em>
    </p>
    <p>
        As you can guess, my ambitions were quickly dashed, I abandoned hope, and after several weeks, I had something
        that mostly worked, has several annoying bugs, and looked <em>slightly</em> better than the top 5
        <a href="http://www.webpagesthatsuck.com/">worst pages on the internet</a>. It only needed one or two things finished,
        and then, for better or worse, it would go live.
    </p>
    <p>
        Still haven't gotten to them, yet.
    </p>
    <h2 class="subheader">Then what's this?</h2>
    <p>
        This site is a complete rewrite using different technologies, my significantly improved web development skill,
        and basically a feature set that's more manageable. While there's still plenty of things I'm not ecstatic about,
        it works, and it should let me do what I've wanted to do all this time.
    </p>
    <h2 class="subheader">So, it's a blog?</h2>
    <p>
        Not <em>quite</em>. While the majority of things I post here will be blog-like, unlike a standard blog, I've
        written it so that I can promote blog posts to full fledged articles, complete with images, multiple pages, etc.
        While I don't plan on doing several articles a day, like most news sites; I will write opinion pieces that
        sometimes go beyond my ranting, and warrant an actual article.
    </p>
    <p>
        So, really, it's not exactly a blog, and not exactly a news site. It's sort of both.
    </p>
    <h2 class="subheader">Who are you?</h2>
    <p>
        No one of importance. But, I explain a bit more on the <a href="/contact/">contact</a> page.
    </p>
{% endblock %}

