{% extends "base.html" %}

{% block content %}
    <div class="large-12 columns article">
        <article>
            <header>
                <h2>Article Title</h2>
                <span class="stinger">Some stinger text should go here, I would assume.</span>
                <h6 class="byline">Written by <a href="#">Christopher S. Case</a> on June 12, 2013.</h6>
            </header>
            <section>
                <div class="image-wrapper">
                    <img src="http://placehold.it/760x450&text=[img]" />
                    <p class="caption">
                        Some images say more than others. This one says almost nothing.
                    </p>
                </div>
            </section>
            <section>
                <p>Bacon ipsum dolor sit amet tenderloin beef pork corned beef, chuck kielbasa capicola swine tongue drumstick turkey pork chop beef ribs sausage. Turkey pork jowl brisket, pig fatback chuck tenderloin ham chicken jerky beef ground round. Chuck short ribs sirloin, jerky bacon ground round t-bone. Rump prosciutto sausage pastrami, ham chuck fatback t-bone sirloin strip steak leberkas. </p>
                <p>Sirloin hamburger turducken corned beef pig pork belly, strip steak chicken turkey rump tongue beef shankle. Turducken bacon ham hock jowl drumstick ham short ribs bresaola pork chop. Swine pork loin ham hock pastrami fatback frankfurter pig t-bone meatloaf beef rump venison prosciutto drumstick. Tenderloin pork chop chicken t-bone pork loin, pastrami doner turkey pig fatback meatball tongue short ribs frankfurter tri-tip. Rump ball tip pastrami doner meatloaf boudin. Beef ribs boudin meatball, ribeye ball tip venison chicken jowl jerky kielbasa salami turducken. </p>
                <p>Beef ribs pig pork loin frankfurter shankle turducken meatball salami pork bacon. Capicola tenderloin shoulder, tail turkey shank boudin filet mignon flank. Pig meatball fatback sausage, capicola frankfurter boudin drumstick tri-tip turkey spare ribs jerky rump bresaola. Ham hock pork t-bone turkey chuck brisket jerky shoulder ball tip shankle. Flank pork chop boudin, capicola pork turducken ball tip shank ham hock venison. Ribeye leberkas doner pork chop tongue, biltong flank pastrami pig tri-tip meatball. Capicola drumstick venison fatback pork chop biltong. </p>
                <p>Beef venison biltong prosciutto beef ribs. Pork loin swine sirloin pancetta andouille ground round, fatback flank jerky shoulder. Hamburger pork ball tip jowl, brisket shankle ham hock andouille short loin shank frankfurter kielbasa. Meatball venison frankfurter, filet mignon tail strip steak ham bresaola jerky boudin ground round prosciutto. Spare ribs flank t-bone fatback chuck pig bresaola. Ham tail shank bresaola frankfurter. </p>
                <p>Tail short ribs corned beef chicken swine jerky drumstick sausage ground round spare ribs. Salami ribeye shank flank. Turkey pork ham hock brisket tongue tenderloin. Shoulder tenderloin tail andouille bacon. Spare ribs pig jowl pork pancetta turducken. </p>
                <p>Pork loin pork chop doner pork meatloaf ground round beef salami turkey brisket. Ham andouille short loin tri-tip, tail leberkas t-bone pastrami. Bresaola biltong capicola hamburger, ham hock pastrami tri-tip cow boudin. Strip steak frankfurter pancetta shank hamburger kielbasa. Biltong tongue boudin pork belly, fatback ham corned beef t-bone flank hamburger pancetta bacon short loin leberkas. Pork chop tongue cow beef corned beef jowl. Andouille venison chuck ham ground round bresaola chicken pancetta brisket. </p>
                <div class="image-wrapper">
                    <img src="http://placehold.it/760x450&text=[img]" />
                    <p class="caption">
                        This one, somehow, says less.
                    </p>
                </div>
                <p>Shankle meatball beef ribs short ribs hamburger. Ground round short ribs pork chop, venison flank strip steak bresaola frankfurter andouille hamburger pig rump ball tip. Chicken pig shankle, bacon sausage capicola spare ribs. Capicola bacon beef ribs pork loin shoulder, t-bone tenderloin. Hamburger prosciutto chuck fatback pastrami jowl, meatloaf ground round filet mignon bacon. </p>
                <p>Hamburger drumstick strip steak, turkey ham shankle ball tip boudin flank kielbasa biltong t-bone frankfurter prosciutto ground round. Pastrami salami t-bone flank chuck, short ribs pig. Ribeye meatloaf t-bone meatball, tenderloin ham beef ribs frankfurter spare ribs bresaola jowl pork belly. Bacon drumstick boudin venison spare ribs. </p>
                <p>Ribeye venison sirloin pancetta, biltong strip steak capicola chicken pig. Prosciutto bresaola tail pork belly. Tri-tip doner capicola filet mignon hamburger beef ribs short ribs venison fatback. Fatback shoulder swine, biltong leberkas pancetta short ribs short loin tail cow spare ribs. Strip steak short loin chuck capicola drumstick. </p>
                <p>Sausage jowl pancetta frankfurter chuck meatball. Strip steak doner tenderloin short loin. Venison turducken tail frankfurter leberkas salami. Filet mignon rump prosciutto ham ribeye pork tri-tip short loin kielbasa hamburger ground round chicken leberkas swine. Jerky cow meatball pork loin. Boudin ball tip frankfurter short loin pancetta ham. Pork chop hamburger ribeye, pancetta spare ribs tail meatloaf tongue turkey biltong cow.</p>
            </section>
        </article>
        <br/>
        <div class="pagination-centered">
            <ul class="pagination">
                <li class="arrow unavailable"><a href=""><i class="icon-double-angle-left"></i></a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li class="arrow"><a href=""><i class="icon-double-angle-right"></i></a></li>
            </ul>
        </div>
    </div>

    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'creativedeluge'; // Required - Replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
