{% extends "base.html" %}

{% block content %}
    <div class="large-12 columns blog">
        <article>
            <header>
                <h2>Blog title that I couldn't be bothered with.</h2>
                <span class="stinger">Some stinger text should go here, I would assume.</span>
                <span class="dateline pull-right">July 4th, 2013</span>
            </header>
            <section>
                <p>
                    Bacon ipsum dolor sit amet spare ribs eu proident, bacon rump ut fugiat bresaola officia consectetur venison ad pork loin excepteur commodo. In culpa dolore capicola, venison nulla elit nostrud aute sausage. Sausage ut pariatur, turkey sint ea mollit ullamco voluptate aliqua. Ground round non tri-tip meatball ea. Magna in pastrami biltong cillum voluptate. Excepteur ut meatloaf, incididunt nostrud ham officia pork belly brisket ribeye nulla. Strip steak velit leberkas dolor.
                </p>
                <p>
                    Voluptate rump consequat qui. Laborum do laboris brisket ground round nisi tempor pariatur capicola labore irure pork belly ut ham. Aliqua swine venison officia anim spare ribs pig minim ribeye. Magna aliquip tenderloin bresaola, bacon sunt pork. Bacon magna pariatur nulla non capicola, ribeye biltong frankfurter tenderloin shank pork chop veniam. Beef cupidatat jerky labore flank minim pancetta bresaola biltong dolor in est spare ribs shankle. Et deserunt quis jowl capicola tri-tip.
                </p>
                <p>
                    Filet mignon in cupidatat, ribeye id pork chop minim tongue tri-tip aliqua. Filet mignon anim excepteur frankfurter eiusmod veniam eu et pork belly pig proident tongue in aliqua. Doner sed et, qui chuck labore do. Id ex drumstick, ball tip ribeye cow kielbasa in irure sint. Duis brisket occaecat filet mignon pig exercitation est fugiat. Sed t-bone beef cillum frankfurter irure ut biltong sunt cow. Excepteur salami pork chop, nisi corned beef non leberkas aliqua chuck venison in jerky.
                </p>
            </section>
        </article>
    </div>
{% endblock %}
