{% extends "base.html" %}

{% block content %}
    <h2>Who am I?</h2>
    <p>
        I am a software engineer for a crop insurance company. (Yeah, took me by surprise, too.) I work on the GIS team,
        doing a lot of HTML5/CSS/Javascript development. I've been working with web technologies as a hobbyist for over
        a decade now, but only recently started doing things professionally. Prior to that, most of my professional
        development was with .Net technologies (C# mostly), while my personal development has been mostly Python and
        Erlang.
    </p>
    <p>
        My hobbies include writing, Indie game development, science fiction, and occasionally graphic design. (I only
        dabble; my wife's the professional.) All in all, I'm not that exciting of a person.
    </p>
    <h2 class="subheader">Contact</h2>
    <p>
        There's always an interesting balance of how many ways of contact do I publicly post? Anyone wth a few minutes
        to spare can find my email, and just about anything they want. But, I like the illusion of privacy, so I will
        request that you send any contact to: <a href="mailto:cd-contact@g33xnexus.com">cd-contact@g33xnexus.com</a> I can also be found:
        <ul>
            <li><strong>Twitter:</strong> <a href="http://twitter.com/macguyvok">@Macguyvok</a></li>
            <li><strong>Xbox Live:</strong> <a href="https://live.xbox.com/en-US/Profile?gamertag=Pryynaek">Pryynaek</a></li>
            <li><strong>Ouya:</strong> <a href="#" title="Ouya doesn't seem to have links to profiles, yet.">Morgul</a></li>
            <li><strong>Steam:</strong> <a href="http://steamcommunity.com/id/macguyvok">Macguyvok</a></li>
        </ul>

        Please be respectful, and remember that this site is just a hobby for me.
    </p>
    <h2 class="subheader">Submit News</h2>
    <p>
        Have something I might be interested in? While this isn't exactly a news site, I'm always interested in new things.
        Fire up your email client, and send a message to: <a href="mailto:cd-news@g33xnexus.com&subject=News Submission: ">cd-news@g33xnexus.com</a>.
    </p>
{% endblock %}
