{% extends "base.html" %}

{% block content %}

    <div class="row featured">
        <div class="large-12 columns">
            <h3>Featured <a href="#" class="feed"><i class="icon-rss"></i></a></h3>

            <ul class="large-block-grid-3">
                <li>
                    <a href="/article/ouya">
                        <div class="wrapper">
                            <img class="featured-image" src="http://placehold.it/760x450&text=[img]" />
                            <div class="caption">
                                <h5>OUYA: An Honest Review <br/> <span class="stinger">Could the $99 console be our savior?</span></h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/article/bar">
                        <div class="wrapper">
                            <img class="featured-image" src="http://placehold.it/760x450&text=[img]" />
                            <div class="caption">
                                <h5>Article Title <br/> <span class="stinger">Some stinger text should go here, I would assume.</span></h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/article/bar">
                        <div class="wrapper">
                            <img class="featured-image" src="http://placehold.it/760x450&text=[img]" />
                            <div class="caption">
                                <h5>Article Title <br/> <span class="stinger">Some stinger text should go here, I would assume.</span></h5>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr/>

    <!-- Main Page Content and Sidebar -->
    <div class="row main">

        <!-- Main Blog Content -->
        <div class="large-8 columns" role="content">

            <article>
                <a href="/article/bar" class="title">
                    <h3>OUYA: An Honest Review</h3>
                    <span class="stinger">Could the $99 console be our savior?</span>
                </a>
                <h6 class="byline">Written by <a href="#">Christopher S. Case</a> on June 12, 2013.</h6>

                <img class="article-image" src="http://placehold.it/760x450&text=[img]" />
                <div class="preview">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                </div>
                <div class="readmore">
                    <a href="/article/bar" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </article>
            <hr />
            <article>
                <a href="/article/bar" class="title">
                    <h3>Article Title</h3>
                    <span class="stinger">Some stinger text should go here, I would assume.</span>
                </a>
                <h6 class="byline">Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <img class="article-image" src="http://placehold.it/760x450&text=[img]" />
                <div class="preview">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                </div>
                <div class="readmore">
                    <a href="/article/bar" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </article>
            <hr />
            <article>
                <a href="/article/bar" class="title">
                    <h3>Article Title</h3>
                    <span class="stinger">Some stinger text should go here, I would assume.</span>
                </a>
                <h6 class="byline">Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

                <img class="article-image"src="http://placehold.it/760x450&text=[img]" />
                <div class="preview">
                    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                </div>
                <div class="readmore">
                    <a href="/article/bar" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </article>
            <hr />
            <div class="pagination-centered">
                <ul class="pagination">
                    <li class="arrow unavailable"><a href=""><i class="icon-double-angle-left"></i></a></li>
                    <li class="current"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="">12</a></li>
                    <li><a href="">13</a></li>
                    <li class="arrow"><a href=""><i class="icon-double-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Main Content -->

        <!-- Sidebar -->
        <aside class="large-4 columns sidebar">
            <h4>Blogs <a href="#" class="feed"><i class="icon-rss"></i></a></h4>
            <a href="/blog/foo">
            <div class="panel">
                <h5>Test Blog Post</h5>
                <span class="stinger">Some stinger text should go here, I would assume.</span>
                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                <div class="readmore">
                    <a href="/blog/foo" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </div>
            </a>
            <a href="/blog/foo">
            <div class="panel">
                <h5>Another Blog Post</h5>
                <span class="stinger">Some stinger text should go here, I would assume.</span>
                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                <div class="readmore">
                    <a href="/blog/foo" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </div>
            </a>
            <a href="/blog/foo">
            <div class="panel">
                <h5>What is this, I don't even...</h5>
                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                <div class="readmore">
                    <a href="/blog/foo" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                </div>
            </div>
            </a>
            <a href="/blog/foo">
                <div class="panel">
                    <h5>This title is too fucking long. Why? Because it's a test of what happens if I'm stupid enough to do this.</h5>
                    <span class="stinger">Some stinger text should go here, I would assume.</span>
                    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                    <div class="readmore">
                        <a href="/blog/foo" class="readmore">Read More <i class="icon-double-angle-right icon-large"></i></a>
                    </div>
                </div>
            </a>
            <hr />
            <div class="pagination-centered">
                <ul class="pagination">
                    <li class="arrow unavailable"><a href=""><i class="icon-double-angle-left"></i></a></li>
                    <li class="current"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li class="arrow"><a href=""><i class="icon-double-angle-right"></i></a></li>
                </ul>
            </div>
        </aside>
        <!-- End Sidebar -->
    </div>

  <!-- End Main Content and Sidebar -->

{% endblock %}